/* Form.css */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    margin: 10px;
    margin-right: 17px;

  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
  }
  .search-input {
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
  }
 
  .search-icon {
    margin: 0 10px; 
    color: #aaa; 
  }
  .search-bar{
   width: 100%;
  }