.genres{
    display: flex;
    flex-basis: 30%;
    @media (max-width: 620px) {
        display: none;
      }
}
.genres ul{
    list-style-type: none;
    padding: 0;
}
.genre-list{
    display: flex;
    align-items: center;
}
.genre-list img{
    width: 50px;
    height: 41px;
    border-radius: 8px;
}
.genre-list button{
    margin: 10px;
    font-size: large;
    background: none;
    border: none;
    cursor: pointer;
}
.genre-list button:hover{
    text-decoration: underline;
}
.genre-list{
    margin: 20px;
    
}