/* Dropdown.css */

/* Dropdown.css */

.dropdown {
  display: grid;
    position: relative;
    grid-template-columns: 24%;
    grid-gap: 0 24px;
  }
  
  .dropdown-button {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
    border-radius: 10px;
    width: 268px;
    color: inherit;
  }
  
  /* .dropdown-button.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  } */
  
  .arrow {
    font-size: 14px;
    margin-left: 10px;
    transition: transform 0.2s;
  }
  
  .dropdown-button.open .arrow {
    transform: rotate(180deg);
  }
  
  .dropdown-list {
    position: relative;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Higher z-index for the dropdown list */
    border-radius: 10px;
  }
  
  .options-list{
    position: absolute;
    margin-top: 40px;
    width: 268px;
  }
  
  .dropdown.open .dropdown-list {
    display: block;
  }
  .dropdown-item{
    margin: 10px;
    color: black;
  }

  @media (max-width: 620px) {
  .dropdown-button {
  width: 80%;
  }
  .options-list{
    width: 80%;
    display: flex;
    max-width: inherit;
    margin-left: 30px;
    flex-direction: column;
  }
  .dropdown{
    grid-template-columns: auto;
    justify-items: center;

  }
}
