.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px; */
}
.navbar_logo{
    width: 60px;
}
.dark-mode{
    background-color: #1e1d1d;;
    color: white;
}

.light-mode{
    background-color: white;
    color: black;
}


