
  .main-conent {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    grid-template-columns: 25% 75%;
  }
  .score-badge{
    max-width: fit-content;
    padding: 4px;
    font-size: 14px;
    border-radius: 4px;
  }

.game-trailer{
  display: flex;
    align-items: center;
}
.game-video{
    width: 90%;
    display: flex;
    align-items: center;
}
.game-attribute{
 display: grid;
 grid-template-columns: auto auto;
}

.screenshot img{
  width: 80%;
  margin: 5px;
}
.game-screenshots{
  display: flex;
}
.screenshot{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;

}
/* --------------------- */

.gamedetail-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px;
}

.gamedetail-left-col{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.gamedetail-heading{
  margin-top: 0;
}
/* styling for filters in home page */
.filters{
  display: flex;
  justify-content: space-between;
}


@media (max-width: 620px){

  .main-conent{
    grid-template-columns: 100%;
  }
  .game-attribute{
    justify-content: space-between;
   }
   /*---------- */
   .gamedetail-grid{
    grid-template-columns: auto;
  }
  .screenshot{
    grid-template-columns: auto;
  }
  .filters{
    flex-direction: column;
    justify-content: space-between;
  }
}